# Build artifacts
/target/

# IDE configurations
/.vscode/
/.idea/

# Backup files
*.rs.bk
*.swp

# Log files
*.log

# Docker ignore file (if applicable)
.dockerignore

# Credentials and secret keys
secrets.toml
